<div class="flex flex-col justify-between w-full h-full">
  <ng-container *ngIf="!chatLoaded">
    <div class="flex w-full h-full justify-center items-center">
      <ng-container *ngIf="!errorMessage"
        ><div class="flex flex-row justify-start items-center">
          <h1 class="text-xl">Cargando chat...</h1>
        </div>
      </ng-container>
      <div
        *ngIf="errorMessage"
        class="text-red-500 flex flex-col justify-center items-center font-bold text-lg uppercase"
      >
        <i class="!text-2xl pi pi-exclamation-triangle"></i>
        <div>{{ errorMessage }}</div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="chatLoaded">
    <div #chat class="flex flex-1 flex-col overflow-y-auto">
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          'justify-end': message.type === 'user',
          'justify-start': message.type === 'model',
        }"
        class="flex w-full mb-2"
      >
        <div
          class="max-w-[80%] p-3 font-semibold rounded-lg"
          [ngClass]="{
            'bg-chatUserMessageBg text-chatUserMessageText': message.type === 'user',
            'bg-chatModelMessageBg text-chatModelMessageText': message.type === 'model',
            'rounded-br-none': message.type === 'user',
            'rounded-bl-none': message.type === 'model',
          }"
        >
          <markdown [data]="message.message" class="text-sm block"></markdown>
          <small class="text-xs block mt-1 italic text-right opacity-75">{{ message.type }}</small>
        </div>
      </div>
    </div>

    <form
      class="flex flex-row flex-none w-full gap-2 justify-between items-center mt-2"
      [formGroup]="form"
      (ngSubmit)="sendMessage()"
    >
      <input
        pInputText
        class="flex-1 p-2 border border-gray-300 focus:outline-none focus:ring focus:ring-blue-300"
        type="text"
        placeholder="Escribe un mensaje..."
        formControlName="message"
      />
      <p-button
        *ngIf="!generatingResponse"
        type="submit"
        label="Enviar"
        class="p-button-primary rounded-full"
        icon="pi pi-send"
        size="small"
      ></p-button>
      <p-button
        *ngIf="generatingResponse"
        label="Parar"
        class="p-button-primary rounded-full"
        icon="pi pi-stop"
        size="small"
        loading="true"
        (click)="stopGeneratingResponse()"
      ></p-button>
    </form>
  </ng-container>
</div>
