<div class="flex w-full h-full justify-center items-center text-slate-500">
  <div class="w-1/2">
    <label class="block text-slate-500 text-sm font-bold mb-2" for="config">
      DEVELOPER CONFIGURATION
    </label>
    <textarea class="w-full h-96 border border-slate-300 p-5 rounded-md" [(ngModel)]="config">
    </textarea>
    <div *ngIf="!modelLoaded" class="border border-slate-300 p-5 rounded-md">
      <section class="text-justify">
        <header class="font-bold pb-3 mb-3 border-b border-gray-400 border-dotted">
          <h1>Bienvenido a Agedap Llamatron</h1>
        </header>
        <main class="pb-10">
          <p>
            La primera vez que inicie la aplicación, se le pedirá que seleccione un modelo de
            lenguaje
          </p>
        </main>
        <footer class="flex justify-end">
          <app-button
            [icon]="isSelectingModel ? 'spinner animate-spin' : 'file'"
            (click)="selectModel()"
            [label]="
              isSelectingModel
                ? ('CONFIG.LOADING_MODEL' | translate)
                : ('CONFIG.LOAD_MODEL' | translate)
            "
          />
        </footer>
      </section>
    </div>
    <div *ngIf="modelLoaded" class="border-slate-100 p-5 rounded-md">
      <section class="text-justify">
        <header class="font-bold pb-3 mb-3 border-b border-gray-200">
          <h1>Modelo seleccionado</h1>
        </header>
        <main class="pb-10">
          <p>
            {{ modelName }}
          </p>
        </main>
        <footer class="flex justify-end">
          <app-button
            [icon]="isSelectingModel ? 'spinner animate-spin' : 'file'"
            (click)="selectModel()"
            [label]="
              isSelectingModel
                ? ('CONFIG.LOADING_MODEL' | translate)
                : ('CONFIG.CHANGE_MODEL' | translate)
            "
          />
        </footer>
      </section>
    </div>
  </div>

  <!-- <app-button
    icon="power-off"
    (click)="testElectron()"
    [label]="'CONFIG.ELECTRON_TEST' | translate"
  /> -->

  <!-- <div class="flex flex-col gap-2 w-[30rem]">
    <div class="flex flex-row gap-2 items-center justify-between">
      <p-button (click)="testElectron()">{{ 'CONFIG.ELECTRON_TEST' | translate }}</p-button>
      <p-tag
        *ngIf="electronTest === undefined"
        [value]="'COMMON.NONE' | translate"
        class="uppercase"
        severity="contrast"
      ></p-tag>
      <p-tag
        *ngIf="electronTest === true"
        [value]="'COMMON.OK' | translate"
        class="uppercase"
        severity="success"
      ></p-tag>
      <p-tag
        *ngIf="electronTest === false"
        [value]="'COMMON.ERROR' | translate"
        class="uppercase"
        severity="danger"
      ></p-tag>
    </div>
  </div> -->

  <!-- <div class="flex flex-col gap-2 w-[30rem]">
    <div class="flex flex-row gap-2 items-center justify-between">
      <p-button
        (click)="selectModel()"
        icon="pi pi-file-arrow-up"
        [label]="modelName ? modelName : ('CONFIG.LOAD_MODEL' | translate)"
      />
      <p-tag
        *ngIf="modelLoaded === undefined"
        [value]="'COMMON.NONE' | translate"
        class="uppercase"
        severity="contrast"
      ></p-tag>
      <p-tag
        *ngIf="modelLoaded === null"
        [value]="'COMMON.LOADING' | translate"
        class="uppercase"
        severity="info"
      ></p-tag>
      <p-tag
        *ngIf="modelLoaded === true"
        [value]="'COMMON.OK' | translate"
        class="uppercase"
        severity="success"
      ></p-tag>
      <p-tag
        *ngIf="modelLoaded === false"
        [value]="'COMMON.ERROR' | translate"
        class="uppercase"
        severity="danger"
      ></p-tag>
    </div>
  </div> -->
</div>
