<div class="flex flex-col w-full h-full justify-start text-slate-500 p-5">
  <!-- No work spaces found -->
  <div
    *ngIf="!workSpaces || (workSpaces && workSpaces.length === 0)"
    class="flex flex-col w-full h-full justify-center items-center"
  >
    <div class="flex flex-col gap-4 items-center">
      <div><i class="!text-[40px] pi pi-desktop text-slate-400"></i></div>
      <p>No tienes ningún espacio de trabajo creado</p>
      <app-button
        (click)="createNewWorkSpace()"
        [label]="'WORKSPACE.CREATE_WORKSPACE' | translate"
      />
    </div>
  </div>
  <!-- Work spaces found -->
  <div *ngIf="workSpaces && workSpaces.length > 0" class="flex flex-col w-full h-full">
    <header>
      <div class="flex flex-row justify-between items-center pb-4">
        <h1 class="text-lg font-semibold">
          <i class="pi pi-desktop pr-2"></i>
          <span>Mis espacios de trabajo</span>
        </h1>
        <app-button
          (click)="createNewWorkSpace()"
          [label]="'WORKSPACE.CREATE_WORKSPACE' | translate"
          icon="plus"
        />
      </div>
    </header>
    <main class="flex flex-1">
      <ag-grid-angular
        style="width: 100%; height: 100%"
        [rowData]="workSpaces"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        (cellClicked)="onCellClicked($event)"
      />
    </main>
  </div>
</div>
