//@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

markdown {
  p {
    margin: 0;
  }
}
