@import 'tailwindcss';

@theme {
  --color-sidebarBg: var(--color-slate-300);
  --color-sidebarText: var(--color-slate-700);
  --color-mainContentBg: var(--color-slate-200);
  --color-mainContentText: var(--color-slate-900);

  /* Border */
  --color-greyBorder: var(--color-slate-300);

  /* Button */
  --color-primaryButtonBg: var(--color-slate-400);
  --color-primaryButtonText: var(--color-white);

  --color-primaryButtonBgHover: var(--color-slate-500);
  --color-primaryButtonTextHover: var(--color-white);

  --color-primaryButtonDisabledBg: var(--color-slate-300);
  --color-primaryButtonDisabledText: var(--color-white);

  --color-secondaryButtonBg: var(--color-white);
  --color-secondaryButtonText: var(--color-slate-400);

  --color-secondaryButtonBgHover: var(--color-white);
  --color-secondaryButtonTextHover: var(--color-slate-500);

  --color-secondaryButtonDisabledBg: var(--color-white);
  --color-secondaryButtonDisabledText: var(--color-slate-300);

  --spacing-sidebarW: '200px';

  /* Chat */
  --color-chatModelMessageBg: var(--color-slate-500);
  --color-chatModelMessageText: var(--color-slate-50);
  --color-chatUserMessageBg: var(--color-slate-50);
  --color-chatUserMessageText: var(--color-slate-700);
}

a {
  text-decoration: none;
}

markdown {
  p {
    margin: 0;
  }
}

/* AgGrid related */
.ag-header {
  background-color: var(--color-slate-500);
  color: var(--color-slate-200);
}

.ag-body,
.ag-viewport {
  background-color: var(--color-slate-300);
}

.ag-row-even {
  background-color: var(--color-slate-300);
}

.ag-row-odd {
  background-color: var(--color-slate-200);
}
