<button
  type="button"
  class="cursor-pointer px-3 py-2 font-normal text-base duration-200 ease-in-out transition-colors rounded-md flex flex-row justify-start items-center border"
  [ngClass]="
    isDisabled
      ? type === 'primary'
        ? 'border-primaryButtonDisabledBg text-primaryButtonDisabledText bg-primaryButtonDisabledBg'
        : 'border-secondaryButtonDisabledBg text-secondaryButtonDisabledText bg-secondaryButtonDisabledBg'
      : type === 'primary'
        ? 'border-primaryButtonBg text-primaryButtonText bg-primaryButtonBg hover:bg-primaryButtonBgHover hover:text-primaryButtonTextHover'
        : 'border-secondaryButtonText text-secondaryButtonText bg-secondaryButtonBg hover:bg-secondaryButtonBgHover hover:text-secondaryButtonTextHover'
  "
  [disabled]="isDisabled"
  (click)="onClickButton($event)"
>
  <span *ngIf="icon">
    <i [ngClass]="'!text-xs pi pi-' + icon"></i>
  </span>
  <span *ngIf="label" class="px-2">{{ label }}</span>
</button>
